{% extends 'app/base_profile.html' %}

{% load staticfiles %}

{% block title %}{{ 'VHub | Profile' }}{% endblock %}

{% block body %}

    <!--Profile Panel-->
    <div class="profile_pan">
        <div class="container-fluid">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <a href="{% url 'accounts:user_profile' %}">
                        <h3 class="panel-title">{{user.username}}</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div id="profile_pic" class="thumbnailpro col-md-3 col-lg-3" align="center">
                            <div class="captionpro btn-group-vertical">
                                <button class="btn btn-default btn-block btn-lg">
                                    Upload<span class="glyphicon glyphicon-upload pull-right"></span>
                                </button>
                                <button class="btn btn-default btn-block btn-lg">
                                    Remove<span class="glyphicon glyphicon-remove-sign pull-right"></span>
                                </button>
                            </div>
                            <img class="user_pic" src="{% static 'icons/profile.png' %}">
                        </div>
                        <div id="profile_det" class="col-md-9 col-lg-9">
                            <div class="row overview">
                                <div class="container-fluid">
                                    <div class="btn-group btn-group-justified col-md-8 col-xs-12" role="group"> 
                                        <div class="btn-group" role"group">
                                            <a href="{% url 'videos:index' %}">
                                                <button type="button" id="ovnoborderbtnn" class="overview_btn btn-default btn-block">
                                                    <h3>Videos</h3><h4>{{ user.video_set.count }}</h4>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="btn-group" role"group">
                                            <a href="{% url 'videos:followers' %}">
                                                <button type="button" id="ovlrborderbtnn" class="overview_btn btn-default btn-block">
                                                    <h3>Followers</h3><h4>{{ user.followers.count }}</h4>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="btn-group" role"group">
                                            <a href="{% url 'videos:following' %}">
                                                <button type="button" id="ovnoborderbtnn" class="overview_btn btn-default btn-block">
                                                    <h3>Following</h3><h4>{{ user.following.count }}</h4>
                                                </button>
                                            </a>
                                        </div>
                                    </div><!--overview_buttons-->
                                </div>
                            </div><!--overview-->
                            <hr>
                           <!--  <div class="user_det">
                                <div class="container-fluid">
                                    <div class="row">
                                        <form id="name_form" class="form-inline">
                                            <div class="form-group">
                                                <div class="name input-group">
                                                    <input id="fn_txt" type="text" class="form-control" value="{{user.first_name}}" disabled>
                                                    <span class="input-group-btn">
                                                        <button id="fn_btn" type="button" class="btn btn-default toggle" data-target="#fn_txt">
                                                            <span class="glyphicon glyphicon-cog"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="name input-group">
                                                    <input id="ln_txt" type="text" class="form-control" value="{{user.last_name}}" disabled>
                                                    <span class="input-group-btn">
                                                        <button id="ln_btn" type="button" class="btn btn-default toggle" data-target="#ln_txt">
                                                            <span class="glyphicon glyphicon-cog"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <form id="gen_dob_form" class="form-inline">
                                        <div class="form-group">
                                            <label class="gen_label control-label"><h4>Gender</h4></label>
                                        </div>
                                        <div class="form-group">
                                            <label class="gen_rad radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="male_rad" value="male"> Male
                                            </label>
                                            <label class="gen_rad radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="fem_rad" value="female"> Female
                                            </label>
                                        </div>
                                        <div id="birth_panel" class="form-group">
                                            <label class="bday_label control-label"><h4>Date of Birth</h4></label>
                                        </div>
                                        <div class="form-group">
                                            <input id="dob_pan" type="date" name="dob" class="form-control" min="1920-01-01">
                                        </div>
                                    </form>
                                    <form id="email_form" class="form-inline">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                                </span>
                                                <input id="email_bar" type="email" value="{{user.email}}" class="form-control" disabled>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default toggle" data-target="#email_bar">
                                                        <span class="glyphicon glyphicon-cog"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> --><!--user_det-->

                            <div class="user_det">
                                <div class="row names">
                                    <div class="col-md-6">
                                        <form action="{% url 'accounts:profile_edit_firstname' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="input-group">
                                                    <input id="fn_txt" type="text" class="form-control" name="first_name" value="{{user.first_name}}" disabled>
                                                    <span class="input-group-btn">
                                                        <button id="fn_btn" type="button" class="btn btn-default toggle" 
                                                        data-target="#fn_txt">
                                                            <span class="glyphicon glyphicon-cog"></span>
                                                        </button>
                                                    </span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6">
                                        <form action="{% url 'accounts:profile_edit_lastname' %}" method="POST">
                                            {% csrf_token %}
                                        <div class="input-group">
                                            <input id="ln_txt" type="text" class="form-control" name="last_name" value="{{user.last_name}}" disabled>
                                            <span class="input-group-btn">
                                                <button id="ln_btn" type="button" class="btn btn-default toggle" 
                                                data-target="#ln_txt">
                                                    <span class="glyphicon glyphicon-cog"></span>
                                                </button>
                                            </span>
                                        </div>
                                        </form>
                                    </div>
                                </div><!--row names-->
                                <div class="row dob_gen">
                                    <div class="col-md-6">
                                        <label class="gen_label"><h4>Gender : {{ user.userprofile.get_verbose_gender }}</h4></label>
                                        {% if user.userprofile.gender %}
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptions" id="m_rad" value="Male" checked disabled> Male
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptions" id="f_rad" value="Female" disabled> Female
                                        </label>
                                        {% else %}
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptions" id="m_rad" value="Male" disabled> Male
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="inlineRadioOptions" id="f_rad" value="Female" checked disabled> Female
                                        </label>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon" id="basic-addon1">Date of Birth</span>
                                            <input id="dob_pan" type="date" name="birthday" class="form-control" min="1920-01-01" value="{{ user.userprofile.birthday | date:"c" }}">
                                        </div>
                                    </div>
                                </div><!--row dob_gen-->
                                <div class="row email">
                                    <div class="col-md-12">
                                    <form action="{% url 'accounts:profile_edit_email' %}" method="POST">
                                            {% csrf_token %}
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                            <input id="email_bar" type="email" name="email" value="{{user.email}}" class="form-control" disabled>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default toggle" data-target="#email_bar">
                                                    <span class="glyphicon glyphicon-cog"></span>
                                                </button>
                                            </span> 
                                        </div>
                                        </form>
                                    </div>
                                </div>  
                            </div><!--user_det-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}