body {
  padding-top: 70px;
  background-image: none;
}

.navbar {
	margin-top: 0px;
}

.btn.active {                
	display: none;		
}

i{
	vertical-align: center;
	text-align: center;
}

.btns {
	border: none;
	background-color: #ffffff;
}

.btn-glyphicon { 
	padding:5px; 
	background:#ffffff; 
	margin-right:3px;  
}

#play-pause {
	margin-top: 20px;
}

#video {
	width: 100%;
}

input[type=range]{
    -webkit-appearance: none;
    background: #ffffff;
    margin-bottom: 10px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background: #a8a8a8;
    border: none;
    border-radius: 1px;
    color: #000000;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 5px;
    border-radius: 2px;
    background: #1CA347;
    margin-top: -4px;
}

#vol-controls {
	display: inline; 
}

#full-screen {
	display: block;
}

#volume-bar {
	width: 100%;
	display: none;
	margin-bottom: 0px;
	padding-bottom: 3px;
}

#volume-bar::-webkit-slider-runnable-track {
    height: 5px;
    background: #a8a8a8;
    border: none;
    border-radius: 1px;
    color: #000000;
}

#volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #1CA347;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.icon-btn { 
	padding: 1px 10px 3px 2px; 
	border-radius:50px;
}

#cur, #dur, #com-time {
	display: inline;
	font-weight: bold;
	font-size: 12px;
	color: black;
}

#vid-control {
	/*display: none;*/
	margin: auto;
    width: 100%;
    padding: 10px;
	color: #1CA347;
}

.btn-default{
	border: none;
	padding-right: 15px;
}

.btn-default:hover{
	color: #1CA347;
	background-color: #ffffff;
}

/* comment section */

.widget-area {
	background-color: #d3d3d3;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 7px 7px;
	position: relative;
	width: 100%;
	border: 1px solid #a8a8a8;
}
.status-upload {
	background: none repeat scroll 0 0 #f5f5f5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	float: right;
	height: 30px;
	width: 90%;
}
.status-upload form {
	width: 100%;
	border: 1px solid #a8a8a8;
}

.status-upload form input:focus {
	border: 1px solid #1CA347;
}

.propic {
	margin-left: 8px;
	margin-right: 1px;
	height: 30px;
	width: 30px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  color: white;
  background-color: #1CA347;
  border: 2px solid white;
}

.btn-circle.btn-xl:hover {
  background-color: white;
  color: #1CA347;
  border: 2px solid #1CA347 ;
}

#play-pause {
	margin-top: 0px;
}

.ctime {
	margin-left: 2px;
	text-align: center;
}

h3 {
	font-weight: bold;
	color: #1CA347;
}

.btn-circle-xs {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  color: white;
  background-color: #1CA347;
  border: 2px solid white;
  margin-right: 10px;
}

.btn-circle-xs:hover {
  background-color: white;
  color: #1CA347;
  border: 2px solid  #1CA347;
}

.time-clip {
  color: black;
  font-weight: bold;
}

.clip-controls {
  display: none;
}

.btn-round-lg{
  border-radius: 22.5px;
  color: white;
  background-color: #1CA347;
  border: 2px solid white;
}

.btn-round-lg:hover {
  background-color: white;
  color: #1CA347;
  border: 2px solid  #1CA347;
}

.share-logo, .share-logo:hover {
  border: 2px solid  white;
  background-color: white;
  color: #1CA347;
}

/* ADDITIONAL */
.conts {
  display: flex;
  margin-top: 30px;
}

.user-img {
	width: 3%;
}

.small-icons-comments {
	width: 100%;
	height: 100%;
}

/* MORE */

.thumbnail {
    padding:0px;
}

.small {
	width: 30%;
	height: 30%;
	margin-bottom: 0px;
	margin-right: 0px;
}

.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.panel-body form input {
	display: inline;
	background: none repeat scroll 0 0 #fff;
	border: medium none;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-ms-border-radius: 2px 2px 2px 2px;
	-o-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	color: #000000;
	padding: 7px;
	font-size: 12px;
	height: 30px;
	letter-spacing: 0.3px;
	width: 93%;
	resize:none;
	outline:none;
	line-height: 1;
} 

.popover{
	font-size: 12px;
}

#start_time, #end_time{
    width: 70%;
}

.start {
	display: none;
	position: absolute;
}

.end {
	display: none;
	position: absolute;
}