.glyphicon {
	background-color: #ffffff;
	border: none;
}

#seek-bar {
	color: black;
	width: 100px;
}

#volume-bar {
	color: black;
	width: 100px;
}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}

