body {
    background-color: #ffffff;
}

.dropdown-menu {
    width:250px !important;
}

.logo {
    width: 100px;
    height: 40px;
    margin-top: -10px;
}

.control-login-reg {
    padding: 0;
    border: none;
    background: none;
    text-align:center;
    font-size: 15px;
    font-weight: bold;
    outline:none;
}

.control-login-reg:hover{
    color: #59B2E0;
    font-size: 15px;
}

.control-login-reg.active{
    color: #029f5b;
    font-size: 18px;
}

.form-control {
    margin : 0 auto;
    height: 36px;
    width: 230px;
    border: 2px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.form-control:hover,
.form-control:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}


.btn-login {
    
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 12px;
    height: auto;
    font-weight: normal;
    padding: 10px 0;
    text-transform: uppercase;
    border-color: #59B2E6;

    margin : 0 auto;
    width: 160px;
    display: block;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 12px;
    height: auto;
    font-weight: normal;
    padding: 10px 0;
    text-transform: uppercase;
    border-color: #1CB94A;

    margin : 0 auto;
    width: 160px;
    display: block;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

/*.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}*/

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/* ------------------- Section Styling - Not needed for carousel styling ------------------- */

.section-white {
   padding: 10px 0;
   margin : 0 auto;
   display: block;
}

.section-white {
  background-color: #fff;
  color: #555;
}

@media screen and (min-width: 550px) {
/* (min-width: 768px) */

  .section-white {
    padding: 1.5em 0;
    height: 320px;
    width: 550px;
  }

}

@media screen and (min-width: 550px)  {
/* (min-width: 992px) */

  .container {
    /*max-width: 930px;*/
    height: 320px;
    width: 550px;
  }

}
