{% load static %}

body {
  background-image: url("../images/wood.jpg");
  padding-top: 70px;
}


a, a:hover {
  color: #000000;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-color: #13D16C;
}

.logo {
	width: 150px;
	height: 40px;
	margin-top: -10px;
	margin-left: 10px;
}

.profile_logo {
	width: 30px;
	height: 30px;
	margin-top: -12px;
	margin-bottom: -6px;
}

/*navigation bar*/
.navbar {
	background-color: white;
	border: none;
}

.search {
  padding: 5px;
  width: 700px;
  height: 30px;

  position: relative;
  left: -30px;
  float: left;
  line-height: 22px;
}

.search input {
  position: absolute;
  width: 0px;
  float: left;
  margin-left: 658px;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;

  height: 35px;
  line-height: 18px;
  padding: 0 2px 0 2px;
  border-radius:1px;
}

.search:hover input, .search input:focus {
  width: 658px;
  margin-left: 0px;
  border: 1px solid #13D16C;
}

.btn-search {
  background-color: #ffffff;
	border: none;
  height: 35px;
  position: absolute;
  right: 0;
  border-radius:1px;
}

.btn-search:hover {
	border: 1px solid #13D16C;
}

/*carousel*/
.item {
	display: block;
	position: absolute;
	height: 600px;
	width: auto;
}

.item img {
	height: auto;
	width: 100%;
}

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


/*Categories*/
.category {
    border-top-width: 5px;
    border-top-style: ridge;
    border-top-color: white;
    border-bottom-width: 5px;
    border-bottom-style: ridge;
    border-bottom-color: white;  
    background-image: url("../images/grass.jpg");
    margin-top: 110px;
}

#cat_name {
   background: rgba(122, 130, 136, 0.0)!important;
   border: none;
}

#cat_body {
  background: rgba(122, 130, 136, 0.0)!important;
}

.cat_head{
  color: green;
  text-align: center;
}


.cat_btn {
    border: none;
    background: transparent;
}

.cat_cap {
  color: white;
}

a, a:hover {
  text-decoration: none;
}


/*footer*/
.footer {
  background-color: white;
  margin-top: 150px;
}

.abt_panel {
  margin-top: 20px;
  margin-right: -10px; 
}

.ctc_panel {
  margin-top: 20px;
}

.abt_btns {
  /*width: 380px;*/
  width: 100%;
}

.abt_btn { 
  height: 45px;
  border: none;
  margin-bottom: -4px;
  background-color: white;
}

.abt_btn:hover {
  color: green;  
  text-decoration: underline;
}


.abt_btn h5{
  text-align: left;
  color: green;
}

#site_contacts {
  margin-left: -10px;
  margin-bottom: 13px;
}

#social_site {
  margin-bottom: 13px;
}

#site_contacts h5{
  text-indent: 10px;
  margin-top: 20px;
}

.text-center {
  margin-top: 50px;
}

.text-center img {
  height: 50px;
  width: 50px;
}

.panel-footer {
  border: none;
  background-color: white;
}

.panel-footer h6{
  color: green;
  text-align: center;
}

#social:hover {
  -webkit-transform:scale(2.0); 
  -moz-transform:scale(2.0); 
  -o-transform:scale(2.0); 
}

#social {
  -webkit-transform:scale(1.1);
  /* Browser Variations: */
  -moz-transform:scale(1.1);
  -o-transform:scale(1.1); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#change_password {
  display: none;
}

.btn-save {
  background-color: #ffffff;
  border: 1px solid #13D16C;
  width: 70px;
  text-align: center;
}

/*profile panel*/

#noborderbtn {
  border: none;
}

#lrborderbtn {
  border-top: none;
  border-bottom: none;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
}

#ovnoborderbtnn {
  border: none;
}

#ovlrborderbtnn {
  border-top: none;
  border-bottom: none;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
}

#ovnoborderbtnn:hover, #ovlrborderbtnn:hover {
  color: #13D16C;
} 

h3 {
  font-weight: bold;
}

.panel-title:hover, h3.active, h4.active{
  color: green;
}

.overview_btn {
  text-transform: uppercase;
  border: 1px solid #000000;
}

.overview_btn:hover {
  color: #13D16C;
  background-color: #ffffff;
  border: 1px solid #000000;
}

#follower-panel {
  padding-bottom: 10px;
  padding-top: 10px;
}

.follower:hover {
  color: #59B2E0;
}

.btn-xs {
  width: 70px;
}

.user_det {
  margin-left: 20px;
}

.dob_gen {
  margin-top: 20px;
}

.email {
  margin-top: 10px;
}

.thumbnailpro {
  margin-top: 30px;
  position: relative;
  border: none;
  overflow: hidden;
}

.captionpro {
  position:absolute;
  top:0;
  right:0;
  background:rgba(66, 139, 202, 0.75);
  width:100%;
  height:100%;
  padding:2%;
  display: none;
  text-align:center;
  color:#fff !important;
  z-index:2;
}

.captionpro btn {
  background-color: transparent;
  border: none;
  overflow: hidden;
  outline: none;  
}

#propic {
  width: 60px;
  height: 60px;
  margin-right:10px;
  margin-left:5px;
}

/* Modal Footer */

.modal-header {
  padding-bottom: 5px;
}

.modal-footer {
  padding: 0;
}
    
.modal-footer .btn-group button {
  height:40px;
  border-top-left-radius : 0;
  border-top-right-radius : 0;
  border-bottom-left-radius : 0;
  border-bottom-right-radius : 0;
  border: none;
  border-right: 1px solid #ddd;
}
  
.modal-footer .btn-group:last-child > button {
  border-right: 0;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-title {
  color: green;
  font-weight: bold;
}

.modal-footer .btn-group button:hover {
  color: green;
}

/*videos panel*/

/*header*/
#vid_search {
  margin-top: 15px;
  width: 45%;
}

/*body*/
#remove_vid {
  margin-top: -5px;
}

.videos_panel{
  background-color: white;
}

.vid_list {
  height: 350px;
  overflow-y: scroll;
}

#vid_item:hover {
  color: green;
}

#vid_item span{
  color: green;
}

.top_row div button:hover {
  color: green;
} 

#vid_thumb {
  margin-right: 20px;
  height: 100px;
  width: 200px;
}

#vid_des {
  margin-left: 20px;
}

#vid_time {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

/*modal_upload*/
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#up_vid_des {
  resize: none;
}