{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}VHub{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'images/icon.png' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link href="{% static 'styles/home_logged_in.css' %}" rel="stylesheet">
        {% block link %} {% endblock %}    
    </head>
    <body>
        <!--Navigation Bar-->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
            <!--Logo-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'accounts:index' %}"> <!-- go back to profile after registration app:home-->
                        <img class="logo" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div><!--navbar-header-->
            
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!--Navbar Icons -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="search"><!--Search icon & bar-->
                                <input type="text" class="form-control" maxlength="64" placeholder="Search" />
                                <button type="submit" class="btn-search">
                                    <img src="{% static 'images/search.png' %}" height="25" width="25">
                                </button>
                            </div>
                        </li>
                        <li class="dropdown"><!--Profile icon & dropdown-->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                                <img class="profile_logo" src="{% static 'images/profile.png' %}">
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'accounts:user_profile' %}">{{user.username}}<span id="user_icon" class="glyphicon glyphicon-user pull-right"></span></a></li>
                                <li><a href="{% url 'accounts:settings' %}">Settings <span id="user_icon" class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                <li class="divider"></li>
                                <li><a href="{% url 'accounts:logout' %}">Log Out<span id="user_icon" class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--navbar-collapse-->
            </div><!--container-fluid-->
        </nav><!--navbar-->

        {% block body %}{% endblock %}

        <!--Footer-->
        <section class="footer">
            <div class="footer_panel panel-default">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="abt_panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="abt_text">About us<span id="icon_ft" class="glyphicon glyphicon-info-sign pull-right"></span></h3>
                                </div>
                                <div id="abt_body" class="panel-body">
                                    <p>Vhub description here</p>
                                    <div class="abt_btns btn-group-vertical">
                                        <button type="button" data-toggle="modal" data-target="#creators" class="abt_btn btn-lg btn-block">
                                            <h5>Creators<span class="glyphicon glyphicon-wrench pull-right"></span></h5>
                                        </button>
                                        <!-- line modal -->
                                        <div class="modal fade" id="creators" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"> <span class="glyphicon glyphicon-remove-sign"></span></button>
                                                        <h3 class="modal-title" id="lineModalLabel">Creators</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- content goes here -->
                                                        Lorem ipsum
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- line modal -->
                                        <button type="button" data-toggle="modal" data-target="#policy" class="abt_btn btn-lg btn-block">
                                            <h5>Policy & Safety<span class="glyphicon glyphicon-briefcase pull-right"></span></h5>
                                        </button>
                                        <!-- line modal -->
                                        <div class="modal fade" id="policy" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"> <span class="glyphicon glyphicon-remove-sign"></span></button>
                                                        <h3 class="modal-title" id="lineModalLabel">Policy & Safety</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- content goes here -->
                                                        Lorem ipsum
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- line modal -->
                                        <button type="button" data-toggle="modal" data-target="#terms" class="abt_btn btn-lg btn-block">
                                            <h5>Terms & Privacy<span class="glyphicon glyphicon-lock pull-right"></span></h5>
                                        </button>
                                        <!-- line modal -->
                                        <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"> <span class="glyphicon glyphicon-remove-sign"></span></button>
                                                        <h3 class="modal-title" id="lineModalLabel">Terms & Privacy</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- content goes here -->
                                                        Lorem ipsum
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                                            <div class="btn-group" role="group">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- line modal -->
                                    </div><!--abt_btns-->
                                    <hr>
                                </div><!--abt_body-->
                            </div><!--abt_panel-->
                        </div>
                        <div class="col-md-8">
                            <div class="ctc_panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="cont_text">Contact us
                                    <span id="icon_ft" class="glyphicon glyphicon-phone-alt pull-right"></span>
                                    </h3>
                                </div>
                                <div id="cont_body" class="panel-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div id="site_contacts" class="col-md-4"><hr>
                                                <h5><span id="ctc_icon" class="glyphicon glyphicon-phone-alt pull-left"></span>088-221-3232</h5>
                                                <h5><span id="ctc_icon" class="glyphicon glyphicon-envelope pull-left"></span>vhub@gmail.com</h5>
                                                <h5><span id="ctc_icon" class="glyphicon glyphicon-map-marker pull-left"></span>Lahug, Cebu city</h5>
                                            </div>
                                            <div id="social_site" class="col-md-8"><hr>
                                                <div class="text-center center-block">
                                                    <div class="row">
                                                        <div id="social_icons" class="col-md-4">
                                                            <a href=""><img class="social_fb" id="social" src="{% static 'icons/facebook.png' %}"></a>
                                                        </div>
                                                        <div id="social_icons" class="col-md-4">
                                                            <a href=""><img  class="social_tw" id="social" src="{% static 'icons/twitter.png' %}"></a>
                                                        </div>
                                                        <div id="social_icons" class="col-md-4">
                                                            <a href=""><img class="social_gp" id="social" src="{% static 'icons/google.png' %}"></a>
                                                        </div>
                                                    </div>
                                                </div><!--text-center-->
                                            </div><!--social_site-->
                                        </div>  
                                    </div>
                                </div><!--cont_body-->
                            </div><!--ctc_panel--><hr>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <h6><span class="glyphicon glyphicon-copyright-mark"></span>VHUB</h6>
                </div>
            </div>
        </section><!--footer-->
        
        <!-- for javascrpit plugins -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{% static 'scripts/profile.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>