{% extends 'app/base_profile.html' %}

{% load staticfiles %}

{% block title %}{{ 'VHub | Title Of Video' }}{% endblock %}

{% block link %}  <link href="{% static 'styles/detail.css' %}" rel="stylesheet"> {% endblock %} 

{% block body %}
    <div class="container col-md-8 col-md-offset-2">
        <div class="video-body">

            <h3>{{ video.title }}</h3>

            <video id="video" autoplay muted>
                <source src="{{ MEDIA_URL }}{{ video.video }}" type="video/mp4">
                <!-- <source src="{% static 'video/video.mp4' %}" type="video/mp4"> -->
            </video>

            <div id="vid-control">

                <input type="range" id="seek-bar" value="0">

                <div id="users-comments">
                    <img id="usercomment" src="{% static 'icons/profile.png' %}" class="small-icons-comments" data-toggle="tooltip" data-placement="top" title="COMMENT">
                </div>

                <div class="pull-right">
                    <div class="time" id="cur">0:00</div> 
                    <div id="cur">/</div>
                    <div class="time" id="dur">0:00</div>
                </div>

                <div class="conts">

                    <div class="col-md-1">
                        <button type="button" class="btn btn-success btn-circle btn-xl" id="play-pause"><i id="icon" class="glyphicon glyphicon-pause"></i></button>
                    </div>
                
                    <div class="col-md-2" style="padding: 10px 10px 20px 25px;">
                        <div id="vol-controls">
                            <button type="button" id="mute" class="glyphicon glyphicon-volume-up btns"></button>
                            <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
                        </div>
                        <button type="button" id="full-screen" class="glyphicon glyphicon-fullscreen btns" style="margin-top: 5px;"></button>
                    </div>

                    <div class="col-md-6">

                        <div class="start-clip" align="center" id="start-clip">
                             <button type="button" class="btn btn-success btn-round-lg btn-lg">Start Clipping</button>
                        </div>

                        <div class="clip-controls" id="clip-controls">

                            <button type="button" class="btn btn-default btn-circle-xs"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-circle-xs"><i class="glyphicon glyphicon-chevron-right"></i></button>

                            <div class="time-clip pull-right">
                                Start  <input type="time" name="start_time">
                                End  <input type="time" name="end_time">
                            </div>

                            <div class="row" align="center" style="margin-top: 10px;">
                                <!-- <a class="btn icon-btn btn-danger btn-xs" id="cancel-clip" href="#" style="margin-right: 15px;"><span class="glyphicon btn-glyphicon glyphicon-remove img-circle text-danger"></span>Cancel</a>
                                <a class="btn icon-btn btn-primary btn-xs" href="#"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>Share!</a> -->

                                <button type="button" class="btn icon-btn btn-danger btn-xs" id="cancel-clip" style="margin-right: 15px;"><span class="glyphicon btn-glyphicon glyphicon-remove img-circle text-danger"></span>Cancel</button>

                                <a class="btn icon-btn btn-primary btn-xs" href="#"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-primary"></span>Share!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <label style="display: block;">
                        <button type="button" class="btn btn-default btn-circle-xs"><i class="glyphicon glyphicon-thumbs-up"></i></button> 103,543,875
                    </label>
                    <label style="display: block;">
                        <span class="glyphicon btn-glyphicon btn-circle-xs glyphicon-share-alt share-logo"></span> 103,543,875 
                    </label>          
                </div>
            </div>
        </div>

        <div class="comment-section">
            <div class="widget-area no-padding blank">
                <img src="{% static 'icons/profile.png' %}" class="img-responsive propic pull-left">
                <div class="status-upload">
                    <form method="GET">
                        <input id="myComment" placeholder="Write a comment..." rows="1" maxlength="100"></input>
                        <div class="ctime" id="com-time">0:00</div> 
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>

        <div class="col-md-8">
            {% for tag in video.tags.all %}
            <a class="btn btn-default btn-xs" href="#">
                <span class="glyphicon glyphicon-tag"></span> {{ tag.tag_text }}
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %} <script src="{% static 'scripts/detail.js' %}"></script>
{% endblock %}