{% extends 'app/base_profile.html' %}

{% load staticfiles %}

{% block title %}{{ 'VHub | Following' }}{% endblock %}

{% block body %}

	<div class="profile_pan">
        <div class="container-fluid">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <a href="{% url 'accounts:user_profile' %}">
                        <h3 class="panel-title">{{user.username}}</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row overview">
					        <div class="container-fluid">
					            <div class="btn-group btn-group-justified col-md-8 col-xs-12" role="group"> 
					                <div class="btn-group" role"group">
					                	<a href="{% url 'accounts:index' %}">
						                    <button type="button" class="overview_btn btn-default btn-block"id="noborderbtn">
						                        <h3>Videos</h3><h4>{{ user.video_set.count }}</h4>
						                    </button>
						                </a>
					                </div>
					                <div class="btn-group" role"group">
					                    <a href="{% url 'videos:followers' %}">
					                        <button type="button" class="overview_btn btn-default btn-block" id="lrborderbtn">
					                            <h3>Followers</h3><h4>{{ user.followers.count }}</h4>
					                        </button>
					                    </a>
					                </div>
					                <div class="btn-group" role"group">
					                    <a href="{% url 'videos:following' %}">
					                        <button type="button" class="overview_btn btn-default btn-block" id="noborderbtn">
					                            <h3 class="active">Following</h3><h4 class="active">{{ user.following.count }}</h4>
					                        </button>
					                    </a>
					                </div>
					            </div><!--overview_buttons-->
					        </div>
					    </div><!--overview-->
					    <br>
					    <!-- following -->
						<div class="profile_pan">
							<div class="container-fluid">
								<div class="panel-body">
									<!-- loop followers here -->
									{% if user.following.count %}
									<ul class="thumbnails" style="list-style-type:none; padding-left:0;">
										{% for following in user.following.all %}
										<li class="span4 clearfix col-md-4">
											<div class="thumbnail clearfix">
												<a href="#">
													<img id="propic" src="{% static 'icons/profile.png' %}" alt="{{ following.first_name }}" class="pull-left span2 clearfix" >
												</a>
												<div class="caption" class="pull-left">
													<a href="#" class="btn btn-success icon  pull-right">Following</a>
													<h4>      
														<a href="#" >{{ following.first_name }} {{ following.last_name }}</a>
													</h4>  
												</div>
											</div>
										</li>
										{% endfor %}
						            </ul>
									<!-- end loop here -->
									{% else %}
										<h3 style="text-align: center;">You should start to follow other users.</h3>
									{% endif %}
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}