{% extends 'app/base_profile.html' %}

{% load staticfiles %}

{% block title %}{{ 'VHub | Upload Video' }}{% endblock %}

{% block link %} <link rel="stylesheet" href="{% static 'styles/upload.css' %}"> {% endblock %}

{% block body %}
	<!--Upload Video Panel-->
	<div class="container">
		<div class="row">
			<div class="panel panel-success col-md-8 col-md-offset-2" style="padding-right: 0px; padding-left:0px;">
				<div class="panel-heading">
					<h3 class="panel-title"><span class="glyphicon glyphicon-upload pull-right"></span> Upload Video</h3>
				</div>

				<form class="form-horizontal" enctype="multipart/form-data" action="{% url 'videos:upload' %}" method="post" style="padding-right: 15px; padding-left:15px;">
				{% csrf_token %}
				<div class="panel-body">
						{% if form.errors %}
							<p>{{ form.errors }}</p>
						{% endif %}
						<!-- The actual Video -->
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-success" id="browse_vid_btn">
                               		<span class="glyphicon glyphicon-folder-open"></span>
                                    Browse&hellip; {{ video_upload_form.video }}
                                </span>
                            </span>
                            <input type="text" class="form-control file_name" placeholder="No file chosen..." readonly>
                        </div>
                            

						<!-- Video Title -->
                            <div class="form-group">
                                <label class="control-label">{{ video_upload_form.title.label }}</label>
                                {{ video_upload_form.title }}
                            </div>

                            <!-- Video Description -->
                            <div class="form-group">
                                <label class="control-label">{{ video_upload_form.description.label }}</label>
                                {{ video_upload_form.description }}
                            </div>

                            <!-- Video Categories -->
                            <div class="form-group">
                                <label class="control-label">{{ video_upload_form.categories.label }}</label>
                                {{ video_upload_form.categories }}
                            </div>

                            <!-- Video Tags -->
                            <div class="form-group">
                                <label class="control-label">{{ video_upload_form.tags.label }} 
                                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Use a semi-colon (;) to separate tags"></span>
                                </label>
                                {{ video_upload_form.tags }}
                            </div>
<!-- 
					<div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-success" id="browse_vid_btn">
                               		<span class="glyphicon glyphicon-folder-open"></span>
                                    Browse&hellip; <input accept="video/*" id="id_video" name="video" type="file" />
                                </span>
                            </span>
                            <input type="text" class="form-control file_name" placeholder="No file chosen..." readonly>
                        </div>


						<div class="input-group">
							<span class="input-group-btn">
								<span class="btn btn-success" id="browse_vid_btn">
									<span class="glyphicon glyphicon-folder-open"></span>
									Browse&hellip; <input type="file" class="file_input" name="video_file" accept="video/*">
								</span>
							</span>
							<input type="text" class="form-control file_name" placeholder="No file chosen..." readonly>
						</div>
						<div class="form-group vid_title">
							<label for="up_vid_title" class="control-label">
								<h4>Title</h4>
							</label>
							<input type="text" class="form-control" id="up_vid_title" maxlength="50" placeholder="Title">
						</div>
						<div class="form-group vid_description">
							<label for="up_vid_des" class="control-label">
								<h4>Description</h4>
							</label>
							<textarea class="form-control" id="up_vid_des" wrap="hard" maxlength="160" placeholder="Description"></textarea>
						</div>
						<div class="form-group vid_category">
							<label for="up_vid_cat" class="control-label">
								<h4>Category</h4>
							</label>
							<select class="form-control" id="up_vid_cat">
								<option value="">Choose Category. . .</option>
								<option value="af">Animation & Film</option>
								<option value="m">Music</option>
								<option value="np">News & Politics</option>
								<option value="pb">People & Blogs</option>
								<option value="st">Science & Technology</option>
								<option value="s">Sports</option>
							</select>
						</div>
						<div class="form-group vid_tags">
							<label for="tags_panel" class="control-label">
								<h4>Tags <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Use a semi-colon (;) to separate tags"></span>
								</h4>
							</label>
							<input type="text" id="tags_panel" class="form-control" placeholder="Tags">
						</div> -->
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-success btn-lg btn-block upload_btn" disabled>
						upload <span class="glyphicon glyphicon-upload"></span>
					</button>
				</div>
				</form>
			</div><!--panel-->
		</div>
	</div><!--upload_vid-->
{% endblock %}

{% block js %} <script src="{% static 'scripts/upload.js' %}"></script> {% endblock %}